extends ../layouts/default

block intro
	.container
		h1 About Me
		
block content
	.container
		p I am a software developer and writer from New York City.
		p I graduated from the University at Albany with degrees in Computer Science and Philosophy.
		p As a developer, I began my career in scattered fashion, working in artificial intelligence, robotics and Wall Street finance. In the mid-1990s I was swept into the Silicon Alley dot-com craze and enjoyed watching the Internet industry explode from the inside, as a C++ developer, a Java developer, an XML expert, an early AJAX enthusiast, a WordPress developer and a Drupal developer. As of 2015, my latest passion is the MEAN stack; MongoDB, Express, Angular.js and Node.js.
		p As a writer, I have run my own blog Literary Kicks (via my pen name Levi Asher), have performed at many spoken word poetry events, and have been published in the Huffington Post, Guardian and the Philadephia Inquirer. My latest project is Pacifism for the 21st Century, an emerging nonprofit.
