extends ../layouts/default

block content
	.container
		.front-main
			img(class="front-main-image img-responsive" src='/images/mes-triptych1200.jpg')
		p.front-textbox I'm a software developer and writer from New York City. I've had an incredible 25+ year career at the intersection of arts, culture and technology. Here are some things people tell me I'm good at.

		// block 1 narrow
		.front-feature.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl
			.col-xs-12.front-feature-words
				.pull-left.front-feature-words-inner
					| <b>Advanced Full Stack Web Development</b> for clients such as <a href="/projects/project/powerbar">PowerBar</a> (Drupal), <a href="/projects/project/center-for-disease-control">Center for Disease Control</a> (Drupal, Solr) and <a href="/projects/project/wellformativecom">Wellformative</a> (Drupal, Drupal Commerce). I'm currently obsessed with Node.js, Angular.js and the MEAN stack, which I believe points the way to the future of web development. I have specialized in content publishing for a long time: my past projects include <a href="/projects/project/words-without-borders">Words Without Borders</a> and (going way back) <a href="/projects/project/pathfinder">Time Warner's Pathfinder</a>, where I learned my craft.
			.col-xs-12.front-feature-pic-right.pull-right
				.front-feature-pic-inner-small
					img(class="front-feature-pic-img-small img-responsive" src="/images/powerbar600.jpg")
		// block 1 wide
		.front-feature.hidden-xs.col-sm-12
			.col-sm-6.front-feature-words
				.pull-left.front-feature-words-inner
					| <b>Advanced Full Stack Web Development</b> for clients such as <a href="/projects/project/powerbar">PowerBar</a> (Drupal), <a href="/projects/project/center-for-disease-control">Center for Disease Control</a> (Drupal, Solr) and <a href="/projects/project/wellformativecom">Wellformative</a> (Drupal, Drupal Commerce). I'm currently obsessed with Node.js, Angular.js and the MEAN stack, which I believe points the way to the future of web development. I have specialized in content publishing for a long time: my past projects include <a href="/projects/project/words-without-borders">Words Without Borders</a> and (going way back) <a href="/projects/project/pathfinder">Time Warner's Pathfinder</a>, where I learned my craft.
			.col-sm-6.front-feature-pic-right.pull-right
				.front-feature-pic-inner
					img(class="img-responsive" src="/images/powerbar600.jpg")

		// block 2 narrow
		.front-feature.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl
			.col-xs-12.front-feature-words
				.pull-right.front-feature-words-inner
					| <b>Content Management Systems and Custom Search Engine Development</b> are two of my specialties. I developed a custom back-end for Market Research Corporation's private repository of PDF documents, worked on a massively scaleable Autonomy-based legal search engine for <a href="/projects/project/inference-data">Inference Data</a> and also used Autonomy to power a new search engine for <a href="/projects/project/history-channel">History Channel</a>. I am currently very excited about the possibilities of MongoDB and Keystone CMS, a Node-based CMS platform which you can see in action right here on this website.
			.col-xs-12.front-feature-pic-left.pull-left
				.front-feature-pic-inner-small
					<img class="front-feature-pic-img-small img-responsive" src="/images/inference600.jpg" />
		// block 2 wide
		.front-feature.hidden-xs.col-sm-12
			.col-xs-6.front-feature-pic-left.pull-left
				.front-feature-pic-inner
					<img class="img-responsive" src="/images/inference600.jpg" />
			.col-xs-6.front-feature-words
				.pull-right.front-feature-words-inner
					| <b>Content Management Systems and Custom Search Engine Development</b> are two of my specialties. I developed a custom back-end for Market Research Corporation's private repository of PDF documents, worked on a massively scaleable Autonomy-based legal search engine for <a href="/projects/project/inference-data">Inference Data</a> and also used Autonomy to power a new search engine for <a href="/projects/project/history-channel">History Channel</a>. I am currently very excited about the possibilities of MongoDB and Keystone CMS, a Node-based CMS platform which you can see in action right here on this website.

		// block 3 narrow
		.front-feature.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl
			.col-xs-12.front-feature-words
				.pull-left.front-feature-words-inner
					| I love to see projects I work on succeed, and have often delved deep into <b>Social Media Strategy</a> to help my clients. I launched <a href="/projects/project/foreign-policy">Foreign Policy</a>  magazine's Twitter presence, and helped the Department of Labor-funded project <a href="/projects/project/vcn">Virtual Career Network</a> come up with a UX strategy that attracts audiences. I did early work in this area for <a href="/projects/project/ivillage">iVillage</a>, where I collaborated with the community team on a member profile redesign that brought in millions of pageviews a month and demonstrated the considerable power of organic social marketing.
			.col-xs-12.front-feature-pic-right.pull-right
				.front-feature-pic-inner-small
					<img class="front-feature-pic-img-small img-responsive" src="/images/foreignpolicy600.jpg" />
		// block 3 wide
		.front-feature.hidden-xs.col-sm-12
			.col-xs-6.front-feature-words
				.pull-left.front-feature-words-inner
					| I love to see projects I work on succeed, and have often delved deep into <b>Social Media Strategy</a> to help my clients. I launched <a href="/projects/project/foreign-policy">Foreign Policy</a>  magazine's Twitter presence, and helped the Department of Labor-funded project <a href="/projects/project/vcn">Virtual Career Network</a> come up with a UX strategy that attracts audiences. I did early work in this area for <a href="/projects/project/ivillage">iVillage</a>, where I collaborated with the community team on a member profile redesign that brought in millions of pageviews a month and demonstrated the considerable power of organic social marketing.
			.col-xs-6.front-feature-pic-right.pull-right
				.front-feature-pic-inner
					<img class="img-responsive" src="/images/foreignpolicy600.jpg" />

		// block 4 narrow
		.front-feature.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl
			.col-xs-12.front-feature-words
				.pull-right.front-feature-words-inner
					| Let's be honest: clients and companies hire me for my tech skills. But I also have a good eye for <b>Art Design</b>, and am proudest of projects on which I've had complete ownership of the visual experience and got to play with Photoshop as well as Linux. I favor Bootstrap for responsive design, enjoy working with advanced LESS and CSS, and always try to stay on top of the ever-changing field of UX. You can get an idea of my web design aesthetic by checking out <a href="/projects/project/law-firm-of-laurence-p-greenberg">The Law Firm of Laurence P. Greenberg</a>, <a href="/projects/project/the-practical-handbook-of-group-counseling">Practical Handbook of Group Counseling</a> and <a href="/projects/project/eli-stein-cartoons">Eli Stein Cartoons</a>.
			.col-xs-12.front-feature-pic-left.pull-left 
				.front-feature-pic-inner-small
					<img class="front-feature-pic-img-small img-responsive" src="/images/lpgdivorce600.jpg" />
		// block 4 wide
		.front-feature.hidden-xs.col-sm-12
			.col-xs-6.front-feature-pic-left.pull-left 
				.front-feature-pic-inner
					<img class="img-responsive" src="/images/lpgdivorce600.jpg" />
			.col-xs-6.front-feature-words
				.pull-right.front-feature-words-inner
					| Let's be honest: clients and companies hire me for my tech skills. But I also have a good eye for <b>Art Design</b>, and am proudest of projects on which I've had complete ownership of the visual experience and got to play with Photoshop as well as Linux. I favor Bootstrap for responsive design, enjoy working with advanced LESS and CSS, and always try to stay on top of the ever-changing field of UX. You can get an idea of my web design aesthetic by checking out <a href="/projects/project/law-firm-of-laurence-p-greenberg">The Law Firm of Laurence P. Greenberg</a>, <a href="/projects/project/the-practical-handbook-of-group-counseling">Practical Handbook of Group Counseling</a> and <a href="/projects/project/eli-stein-cartoons">Eli Stein Cartoons</a>.

		// block 5 narrow
		.front-feature.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl
			.col-xs-12.front-feature-words
				.pull-left.front-feature-words-inner
					| And what are we doing all this hard work for, if not to create a better world? I am deeply committed to causes like <b>Pacifism, Environmental Awareness and Social Justice</b>, and have recently kicked off a crowdfunded project called <a href="/projects/project/pacifism-for-the-21st-century">Pacifism for the 21st Century</a>, a work in progress.
			.col-xs-12.front-feature-pic-right.pull-right
				.front-feature-pic-inner-small
					<img class="front-feature-pic-img-small img-responsive" src="/images/pacgogo600.jpg" />
		// block 5 wide
		.front-feature.hidden-xs.col-sm-12
			.col-xs-6.front-feature-words
				.pull-left.front-feature-words-inner
					| And what are we doing all this hard work for, if not to create a better world? I am deeply committed to causes like <b>Pacifism, Environmental Awareness and Social Justice</b>, and have recently kicked off a crowdfunded project called <a href="/projects/project/pacifism-for-the-21st-century">Pacifism for the 21st Century</a>, a work in progress.
			.col-xs-6.front-feature-pic-right.pull-right
				.front-feature-pic-inner
					<img class="img-responsive" src="/images/pacgogo600.jpg" />

		// block 6 narrow
		.front-feature.col-xs-12.hidden-sm.hidden-md.hidden-lg.hidden-xl
			.col-xs-12.front-feature-words
				.pull-right.front-feature-words-inner
					| Last but not least: what I'm really all about is <b>Music, Literature & Art</b>. I was the sole coder for <a href="/projects/project/bob-dylan">Bob Dylan's</a> first website back in 1996, and relaunched his website in 2001. I also built an innovative official website for <a href="/projects/project/pearl-jam">Pearl Jam</a> in 2006. The most enduring project of my life (other than parenthood) has been my own literary blog, <a href="/projects/project/literary-kicks">Literary Kicks</a>, which has been online (and morphing and changing with the times) since the summer of 1994.
			.col-xs-12.front-feature-pic-left.pull-left
				.front-feature-pic-inner-small
					<img class="front-feature-pic-img-small img-responsive" src="/images/bobdylan600.jpg" />
		// block 6 wide
		.front-feature.hidden-xs.col-sm-12
			.col-xs-6.front-feature-pic-left.pull-left
				.front-feature-pic-inner
					<img class="img-responsive" src="/images/bobdylan600.jpg" />
			.col-xs-6.front-feature-words
				.pull-right.front-feature-words-inner
					| Last but not least: what I'm really all about is <b>Music, Literature & Art</b>. I was the sole coder for <a href="/projects/project/bob-dylan">Bob Dylan's</a> first website back in 1996, and relaunched his website in 2001. I also built an innovative official website for <a href="/projects/project/pearl-jam">Pearl Jam</a> in 2006. The most enduring project of my life (other than parenthood) has been my own literary blog, <a href="/projects/project/literary-kicks">Literary Kicks</a>, which has been online (and morphing and changing with the times) since the summer of 1994.

		p.front-textbox Thanks for checking out the work I've done. If you'd like to work with me, please <a href="/contact">get in touch</a>. By the way, the banner image at the top of the page is a rebus. If you're not sure what that means, or need a clue to figure it out, send me a note and I'll happily explain.

		.centered 
			img(class="front-me" src='/images/mes-diner600.jpg')
