extends ../layouts/default

block content
	.container
		.front-main
			img(class="front-main-image img-responsive" src='/images/mes-triptych1200.jpg')
		p.front-textbox I'm a software developer and writer from New York City. Here are some of the things people tell me I'm good at. Click through for detailed descriptions of each project below.
		.front-feature.col-xs-12
			.col-xs-6
				.pull-left.front-feature-words
					| <a class="hoverlink" href="/projects/advanced-webmobile-development">Advanced full stack web development</a> using the best open source frameworks including NodeJS, AngularJS and Drupal. Sites I've done major work for include <a href="">PowerBar</a>, <a href="">Words Without Borders</a> and (going way back) <a href="">Time Warner's Pathfinder</a>.<br />
			.col-xs-6.front-feature-pic-right.pull-right
				img(class="img-responsive" src="/images/powerbar600.jpg")

		.front-feature.col-xs-12
			.col-xs-6.front-feature-pic-left.pull-left
				<img class="img-responsive" src="/images/cdc600.jpg" />
			.col-xs-6
				.pull-right.front-feature-words
					| <a href="projects/content-management-and-search">Content Management Systems and Custom Search Engine Development</a> are two of my specialties. I integrated Drupal with Solr for <a href="">Center for Disease Control</a> and worked with Autonomy for <a href="">History Channel</a>. I developed a custom Drupal-based CMS for <a href="">Market Research Corporation</a>, and am now very excited about the possibilities of Node-based Keystone CMS, which powers MarcEliotStein.com.
		.front-feature.col-xs-12

			.col-xs-6
				.pull-left.front-feature-words
					| I love to see projects I work on succeed, and have often participated in <a href="/projects/social-media-strategy">Social Media Strategy</a> to help my clients. I launched <a href="">Foreign Policy</a>  magazine's Twitter presence, and helped the Department of Labor-funded project <a href="">Virtual Career Network</a> come up with a UX strategy that attracts audiences. I did early work in this area for <a href="">iVillage</a>, where I focused on community-building and member profiles.
			.col-xs-6.front-feature-pic-right.pull-right
				<img class="img-responsive" src="/images/foreignpolicy600.jpg" />

		.front-feature.col-xs-12
			.col-xs-6.front-feature-pic-left.pull-left 
				<img class="img-responsive" src="/images/lpgdivorce600.jpg" />
			.col-xs-6
				.pull-right.front-feature-words
					| Let's be honest: clients and companies hire me for my tech skills. But I also have a good eye for <a href="">Art Design</a>, and am proudest of projects on which I've had complete ownership of the visual experience and got to have fun with Photoshop as well as Linux. You can get an idea of my web aesthetic by checking out <a href="">The Law Firm of Laurence P. Greenberg</a>, <a href="">Practical Handbook of Group Counseling</a> and <a href="">Eli Stein Cartoons</a>.

		.front-feature.col-xs-12
			.col-xs-6
				.pull-left.front-feature-words
					| And what are we doing all this hard work for, if not to create a better world? I am deeply committed to causes like pacifism, environmental awareness and social justice, and have recently kicked off a crowdfunded project called <a href="">Pacifism for the 21st Century</a>, a work in progress. <a href="/projects/pacifism-and-political-activism">pacifism & political activism</a>
			.col-xs-6.front-feature-pic-right.pull-right
				<img class="img-responsive" src="/images/pacgogo600.jpg" />

		.front-feature.col-xs-12
			.col-xs-6.front-feature-pic-left.pull-left
				<img class="img-responsive" src="/images/bobdylan600.jpg" />
			.col-xs-6
				.pull-right.front-feature-words
					| Last but not least: what I'm really all about is <a href="/projects/arts-music-and-literature">Music, Literature & Art</a>. I was the sole coder for <a href="">Bob Dylan's</a> first website back in 1996, and relaunched his website in 2001. I also built an innovative official website for <a href="">Pearl Jam</a> in 2006. The most enduring project of my life (other than parenthood) has been my own literary blog, <a href="">Literary Kicks</a>, which has been online (and morphing and changing with the times) since the summer of 1994.

		p.front-textbox Thanks for checking out the work I've done. If you'd like to work with me, please <a href="/contact">get in touch</a>. By the way, the banner image at the top of the page is a rebus. If you're not sure what that means, or need a clue to figure it out, send me a note and I'll happily explain.

		.centered 
			img(class="front-me" src='/images/mes-diner600.jpg')
