extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/') &larr; 
			if !data.project
				h2 Invalid Project.
			else
				+project(data.project)
			p: a(href='/') &larr; 
