body, p {
  font-family: 'Cabin', sans-serif;
  font-size: 13px;
}

.front-me {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: block;
}

.front-intro {
  padding-bottom: 14px;
}

.front-feature {
  padding-bottom: 14px;
  margin-top: 10px;
  margin-bottom: 28px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px dashed #2f2f2f;
}

.front-feature-words {
  border-top: 2px solid #7f7f7f;
  background-color: #fff7f0;
  padding: 5px;
  font-size: 12px; 
}

.front-feature-pic-left,
.front-feature-pic-right {
  border: 2px solid #000000;
  margin: 0px;
  padding: 0px;
}

hr {
  border-top: 2px solid #000000;
}

.lead {
  margin-bottom: 2px;
}

p {
  margin: 0 0 2px;
}

a.hoverlink {
  color: #dfaf00;
}

a.hoverlink:active, hover {
  color: #ffcf7f;
}

.front-main {
  background-color: #000000;
  padding: 5px;
  margin-bottom: 10px;
}

.navbar-toggle {
  border-width: 2px;
}

#header {
  margin-top: 10px;
}

.navbar {
  min-height: 35px;
  margin-bottom: 5px;
}

.navbar-brand {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-toggle {
  margin-right: 0px;
}

.navbar, 
.navbar-header, 
.navbar-default,
.navbar-brand, 
.navbar-default .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.35em;
  background-color: #ffffff;
  border-width: 0px;
  color: #000000;
}
